.users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.active-page {
    background-color: rebeccapurple;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px;
}