.App {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 200px;
  border-radius: 50%;
  object-fit: fill;
  object-position: center;
}

.header_logo {
  width: 100px;
  
}